@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";
/* ✅ usa la hoja estándar */
@import "leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css";


:root {
  --bg: #0b0b0c;
  --card: #141416;
  --text: #f4f4f5;
  --muted: #a1a1aa;
  --accent: #B45309;
}

html, body, #__next {
  height: 100%;
  background: var(--bg);
  color: var(--text);
}

.btn {
  @apply px-4 py-3 rounded-2xl font-semibold bg-brand hover:bg-brand-light active:scale-95 transition select-none;
}

.card {
  @apply bg-[color:var(--card)] rounded-2xl p-4 shadow-lg;
}

.input {
  @apply bg-transparent border border-zinc-700 rounded-xl px-3 py-2 outline-none focus:ring-2 focus:ring-brand/60;
}

.grid-autofill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 12px;
}
/* Selects oscuros legibles */
select.input {
  background-color: var(--card);
  color: var(--text);
  appearance: none;
}
select.input option {
  background-color: #1a1a1d; /* fondo dropdown */
  color: #f4f4f5;            /* texto dropdown */
}

/* Fondo 'brasas' */
.bg-fire {
  background:
    radial-gradient(1200px 500px at 80% -100px, rgba(245, 158, 11, 0.12), rgba(0,0,0,0)),
    radial-gradient(900px 400px at -10% -50px, rgba(255, 68, 0, 0.10), rgba(0,0,0,0)),
    radial-gradient(600px 300px at 50% 110%, rgba(180, 83, 9, 0.12), rgba(0,0,0,0)),
    #0b0b0c;
}

